{% extends 'bdd_form/base_2_dashboard.html' %}


{% block client_notification %}
{% if "client" in loading_status %}

        {% if "success" in loading_status %}
        <div class="notification is-success is-fullwidth" style="text-align: center;">
            <button class="delete"></button>
            Le client a bien été ajouté !

        {% else %}
        <div class="notification is-danger is-fullwidth" style="text-align: center;">
            <button class="delete"></button>
            Ce client existe déjà !
        {% endif %}
        </div>

{% endif %}
{% endblock %}

{% block voiture_notification %}
{% if "voiture" in loading_status %}
    {% if "success" in loading_status %}
    <div class="notification is-success is-fullwidth" style="text-align: center">
        <button class="delete"></button>
        La voiture a bien été ajoutée !

    {% else %}
    <div class="notification is-danger is-fullwidth" style="text-align: center">
        <button class="delete"></button>
        Cette voiture est déjà renseignée !
    {% endif %}
    </div>
{% endif %}
{% endblock %}

{% block reparation_form %}
<h1 class="title is-size-4">Nouvelle réparation</h1>
<form method="post">
    {% csrf_token %} 
    <div class="field">
        <label class="label">Voiture</label>
        <div class="control">
        <div class="select">
            <select name='voiture_id'>
                {% for voiture in voitures %}
                <option value={{ voiture.id }}>
                    {{ voiture.marque }} {{ voiture.type_voiture }} : {{ voiture.immatriculation }}
                </option>
                {% endfor %}
            </select>
        </div>
        </div>
    </div>
    <div class="field">

            <label class="label">Technicien</label>

        <div class="control">
        <div class="select">
            <select name='technicien_id'>
                {% for technicien in techniciens %}
                <option value={{ technicien.id }}>
                  {{ technicien.nom }} {{ technicien.prenom }}
                </option>
                {% endfor %}
            </select>
        </div>

        </div>
    </div>
    
    <div id="piece_container">
    <div class="field">
        <label class="label">Pièces détachées</label>
        <div class="control">
            <div class="button is-info" id="ajout_piece">Ajouter une pièce</div>
        </div>
    </div>
    </div>
    
    <div class="field">
        <label class="label">Date</label>
        <div class="control">
            {{ reparationform.date }}
        </div>
    </div>
    <div class="field">
        <label class="label">Durée</label>
        <div class="control">
            {{ reparationform.duree }}
        </div>
    </div>
    <div class="field">
        <label class="label">Remarque</label>
        <div class="control">
        <textarea class="textarea" name='remarque'></textarea>
        </div>
    </div>
  
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" id="reparation_standard" name='forfaitaire'>
        Réparation forfaitaire
      </label>
    </div>
  </div>
  <div class="field" style='display:none' id='nom_reparation'>
  <div class="field" >
    <label class="label">Nom</label>
    <div class="control">
        <input class="input" type="text" name='nom' >
    </div>
    </div>
    <div class="field">
        <label class="label">Prix</label>
        <div class="control has-icons-right">
            <input class="input" name ='prix' type="number">
          
          <span class="icon is-small is-right">
            <i class="fas fa-euro-sign"></i>
          </span>
        </div>
    </div>
    </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" name="ajout_reparation">Envoyer</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Annuler</button>
    </div>
  </div>
  </form>
  {% endblock %}


  {% block reparation_table %}
  <div class="box" id="remarque_modif_popup" style="display: none;border: solid 2px hsl(204, 86%, 53%)">
    <form method="post"> 
    {% csrf_token %}
    <div class="field">
        <label class="label">Modifier la remarque</label>
        <div class="control">
        <textarea class="textarea" name='remarque'></textarea>
        </div>
    </div>
    <input id='reparation_id' name="reparation_id" style = "display: none;">
    <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" name="modif_remarque">Envoyer</button>
        </div>
        <div class="control">
          <div class="button is-link is-light"  onclick='hide_parent2(event)'>Annuler</div>
        </div>
      </div>
    </form>
  </div>
    <div style="display: flex; justify-content: space-between">
      <h1 class="title is-size-4">Réparation</h1>
      <div class="field has-addons">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Rechercher"
            id="textRechReparation"
          />
        </div>
        <div class="control">
          <a class="button is-info" id="buttonRechReparation">
            <i class="fas fa-search"></i>
          </a>
        </div>
      </div>
    </div>
    <table class="table is-narrow is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Voiture</th>
          <th>Technicien</th>
          <th>Date</th>
          <th>Durée</th>
          <th>Prix</th>
          <th>Rem.</th>
        </tr>
      </thead>
      <tbody>
          <tr></tr>
        <form method="post">
          {% csrf_token %} 
          {% for reparation in reparations %}
          <tr>
            <td>
            {{ reparation.voiture.marque }} {{ reparation.voiture.type_voiture }} : {{ reparation.voiture.immatriculation }}
            </td>
            <td>{{ reparation.technicien.prenom }} {{ reparation.technicien.nom }}</td>
            <td>{{ reparation.date }}</td>
            <td>{{ reparation.duree }}</td>
            <td>{{ reparation.prix }}</td>
            <td>
            <div class="button is-small is-info modifier_reparation" id={{ reparation.id }} value={{ reparation.remarque_technicien }}>
                <i class="fas fa-plus" ></i>
            </div>
            </td>
          </tr>
          {% endfor %}
        </form>
      </tbody>
    </table>
  </div> 

  {% endblock %}

  {% block statistiques %}
  <div class="tile is-ancestor" style='height: 80vh'>
    <div class="tile is-6 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title is-size-4">Nombre de client par commune</p>
        <table class="table is-narrow is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Commune</th>
                <th>Nombre de client</th>
              </tr>
            </thead>
            <tbody>
                {% for commune in communes %}
                <tr>
                  <td>{{ commune.nom }}</td>
                  <td>{{ commune.nb_client }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="tile is-child box">
        <p class="title is-size-4">Réparation par technicien</p>
        <table class="table is-narrow is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Technicien</th>
                <th>Nombre de réparation</th>
              </tr>
            </thead>
            <tbody>
                {% for technicien in techniciens %}
                <tr>
                  <td>{{ technicien.nom }} {{ technicien.nom }}</td>
                  <td>{{ technicien.reparations.nom }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <p class="title">Plus à venir...</p>
      </div>
    </div>
  </div>
  {% endblock %}
