{% extends 'bdd_form/base_dashboard.html' %}


{% block client_notification %}
{% if "client" in loading_status %}

        {% if "success" in loading_status %}
        <div class="notification is-success is-fullwidth" style="text-align: center;">
            <button class="delete"></button>
            Le client a bien été ajouté !

        {% else %}
        <div class="notification is-danger is-fullwidth" style="text-align: center;">
            <button class="delete"></button>
            Ce client existe déjà !
        {% endif %}
        </div>

{% endif %}
{% endblock %}

{% block voiture_notification %}
{% if "voiture" in loading_status %}
    {% if "success" in loading_status %}
    <div class="notification is-success is-fullwidth" style="text-align: center">
        <button class="delete"></button>
        La voiture a bien été ajoutée !

    {% else %}
    <div class="notification is-danger is-fullwidth" style="text-align: center">
        <button class="delete"></button>
        Cette voiture est déjà renseignée !
    {% endif %}
    </div>
{% endif %}
{% endblock %}

{% block reparation_form %}
<h1 class="title is-size-4">Réparation</h1>
    <div class="field">
        <label class="label">Voiture</label>
        <div class="control">
        <div class="select">
            <select>
                {% for voiture in voitures %}
                <option>
                  {{ voiture.immatriculation }}
                </option>
                {% endfor %}
            </select>
        </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Technicien</label>
        <div class="control">
        <div class="select">
            <select>
                {% for technicien in techniciens %}
                <option>
                  {{ technicien.nom }} {{ technicien.prenom }}
                </option>
                {% endfor %}
            </select>
        </div>
        </div>
    </div>
    
    <div id="piece_container">
    <div class="field">
        <label class="label">Pièces détachées</label>
        <div class="control">
            <button class="button is-success" id="ajout_piece">Ajouter une pièce</button>
        </div>
    </div>
    </div>
  
  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-success" type="text" placeholder="Text input" value="bulma">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
    <p class="help is-success">This username is available</p>
  </div>
  
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <p class="help is-danger">This email is invalid</p>
  </div>
  
  <div class="field">
    <label class="label">Subject</label>
    <div class="control">
      <div class="select">
        <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox">
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div>
  
  <div class="field">
    <div class="control">
      <label class="radio">
        <input type="radio" name="question">
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="question">
        No
      </label>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>
  {% endblock %}



