{% extends 'bdd_form/base_dashboard.html' %}


{% block client_notification %}
{% if "client" in loading_status %}

        {% if "success" in loading_status %}
        <div class="notification is-success is-fullwidth" style="text-align: center;">
            <button class="delete"></button>
            Le client a bien été ajouté !

        {% else %}
        <div class="notification is-danger is-fullwidth" style="text-align: center;">
            <button class="delete"></button>
            Ce client existe déjà !
        {% endif %}
        </div>

{% endif %}
{% endblock %}

{% block voiture_notification %}
{% if "voiture" in loading_status %}
    {% if "success" in loading_status %}
    <div class="notification is-success is-fullwidth" style="text-align: center">
        <button class="delete"></button>
        La voiture a bien été ajoutée !

    {% else %}
    <div class="notification is-danger is-fullwidth" style="text-align: center">
        <button class="delete"></button>
        Cette voiture est déjà renseignée !
    {% endif %}
    </div>
{% endif %}
{% endblock %}




